body {
    background-color: rgb(37, 49, 206);
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: bold;
}

.afdField {
    width : 90%;
    text-align: center;
    margin: 1rem 5%;
    font-size: 5rem;
}

.afdButton {
    background-color: red;
    text-align: center;
    margin: 0.5rem 5%;
    font-size: 3rem;
    font-weight: bold;
    color: black;
    border-radius: 10%;
    border-color: red;
}

.afdButtonContainer {
    text-align: center;
    margin: 1rem 5%;
    font-size: larger;
}

.afdIntroduction {
    width : 90%;
    text-align: center;
    margin: 2rem 5%;
    font-size: 1.5rem;
    font-weight: bold;
}

.afdHeading {
    width : 90%;
    text-align: center;
    font-size: 1.5em;
    margin: 2rem 5%;
}

.afdResults {
   font-size: 3rem;
   font-weight: bolder;
}

.afdPadding {
    padding: 1rem;
}

#afdTweetContainer {
    text-align: center;
    margin: 0.5rem 5%;
}
